<div class="container">

    <h2>@ViewBag.Title</h2>
    <div class="row">

        <div class="col-md-4">
            <h2>O Nas</h2>
            <p>
                Sekcja wioślarska AZS Politechniki Krakowskiej zaprasza do udziału w zajęciach na wysokiej jakości sprzęcie wyczynowym. Podstawowym typem łodzi, na której odbywają się treningi i regaty w kraju i za granicą jest ósemka męska, ale mile widziane są również panie, które były lub są zawodniczkami i pływały na jedynkach. Zapraszamy studentów dziennych, wieczorowych i zaocznych oraz pracowników Uniwersytetu Warszawskiego, szczególnie byłych zawodników wioślarstwa, którzy chcieliby się zmierzyć ze studentami innych uczelni w kraju i na świecie.
                Gwarantujemy fachową opiekę, miłą atmosferę i dobrą zabawę przez cały okres trwania przygody z wioślarstwem.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Oferujemy</h2>
            <p>
                - kompleksowy trening wioślarski<br />
                - udział w wielu zawodach międzynarodowych zarówno w kraju jak i zagranicą<br />
                - udział w Akademickich Mistrzostwach Polski<br />
                - miłe towarzystwo i dobrą zabawę!<br />
        </div>
        <div class="col-md-4">
            <h2>Trenujemy</h2>
            <p>
                Sekcja Wioślarska PK trenuje dwa razy w tygodniu. Treningi odbywają się w poniedziałki o godzinie 17.30 w Siłowni w Akademiku nr 4 'Leon' przy ulicy Skarżyńskiego 7. Drugi trening odbywa się w środy o godzinie 16.00 na ergometrach wioślarskich. W sezonie wiosennym na wodzie odbywa się wiele dodatkowych treningów, których godziny ustalają między sobą zawodnicy.
            </p>


        </div>
    </div>
    </div>