@{
    ViewBag.Title = "Kontakt";
}
<div class="container">

    <h2>@ViewBag.Title</h2>

    <address>
        Stanek Marcin<br />
        Kraków, Skarźyńskiego 7<br />
        <abbr title="Telefon komórkowy">P:</abbr>
        607 758 605
    </address>

    <address>
        <strong>Kontakt e-mail:</strong> <a href="mailto:stanek.marcinp@gmail.com">stanek.marcin@gmail.com</a>
    </address>
    </div>