@{
    ViewBag.Title = "Strona domowa";
}

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="img/1.jpg" alt="passion">
                    <div class="carousel-caption">
                        <h3>Pasja</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="img/2.jpg" alt="sacrifice">
                    <div class="carousel-caption">
                        <h3>Zaangażowanie</h3>

                    </div>
                </div>

                <div class="item">
                    <img src="img/3.jpg" alt="sport">
                    <div class="carousel-caption">
                        <h3>Sport</h3>

                    </div>
                </div>

                <div class="item">
                    <img src="img/4.jpg" alt="sacrifice" height="752">
                    <div class="carousel-caption">
                        <h3>Poświęcenie</h3>
                    </div>
                </div>

            </div>
        </div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Dowiedz się więcej</h2>
            <p>
                Jesteśmy grupą osób pasjonującą się sportem, a przede wszystkim wioślartswem. Kliknij, a dowiesz się więcej!
            </p>


            <div class="form-group bottom-left">
                <p><a class="btn btn-default" onclick="location.href = '@Url.Action("About", "Home")'" style="width:100%">O Nas &raquo;</a></p>

            </div>
        </div>
        <div class="col-md-4">
            <h2>Skontaktuj się</h2>
            <p>Możesz spotkać Nas na Uczelni, w akademiku, na ulicy, a przede wszystkim na treningu. Kliknij aby dowiedzieć się jak się z nami skontaktować!</p>
            <p><a class="btn btn-default" onclick="location.href = '@Url.Action("Contact", "Home")'" style="width:100%">Kontakt &raquo;</a></p>

        </div>
        <div class="col-md-4">
            <h2>O wioślarstwie</h2>
            <p>Klika słów o wioślarstwie. Krótko i na temat, w sam raz na początek.</p>

            <br />
            <p><a class="btn btn-default" style="width:100%">Historia &raquo;</a></p>
        </div>

    </div>
    </div>

    <br />

    <section class="module parallax parallax-1">
        <div class="container">
            <h1>O Nas</h1>
        </div>
    </section>
    <br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>O Nas</h2>
            <p>
                Sekcja wioślarska AZS Politechniki Krakowskiej zaprasza do udziału w zajęciach na wysokiej jakości sprzęcie wyczynowym. Podstawowym typem łodzi, na której odbywają się treningi i regaty w kraju i za granicą jest ósemka męska, ale mile widziane są również panie, które były lub są zawodniczkami i pływały na jedynkach. Zapraszamy studentów dziennych, wieczorowych i zaocznych oraz pracowników Uniwersytetu Warszawskiego, szczególnie byłych zawodników wioślarstwa, którzy chcieliby się zmierzyć ze studentami innych uczelni w kraju i na świecie.
                Gwarantujemy fachową opiekę, miłą atmosferę i dobrą zabawę przez cały okres trwania przygody z wioślarstwem.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Oferujemy</h2>
            <p>
                - kompleksowy trening wioślarski<br />
                - udział w wielu zawodach międzynarodowych zarówno w kraju jak i zagranicą<br />
                - udział w Akademickich Mistrzostwach Polski<br />
                - miłe towarzystwo i dobrą zabawę!<br />

        </div>
        <div class="col-md-4">
            <h2>Trenujemy</h2>
            <p>
                Sekcja Wioślarska PK trenuje dwa razy w tygodniu. Treningi odbywają się w poniedziałki o godzinie 17.30 w Siłowni w Akademiku nr 4 'Leon' przy ulicy Skarżyńskiego 7. Drugi trening odbywa się w środy o godzinie 16.00 na ergometrach wioślarskich. W sezonie wiosennym na wodzie odbywa się wiele dodatkowych treningów, których godziny ustalają między sobą zawodnicy.
            </p>

        </div>
    </div>
    </div>
    <br />

    <section class="module parallax parallax-2">
        <div class="container">
            <h1></h1>
        </div>
    </section>


